body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    /* background-size: contain; */
    background-attachment: fixed;
    font-family: Georgia, serif;
    color: white;
    opacity: 0.9;
    /* height: 1000px;
    width: 1000px; */
    /* border: 2px solid black; */
}

h1 {
    font-size: 500%;
}

.navbar {
    color: black;
    background-color: #361601;
    opacity: 1;
    position: sticky;
}

.whiteBoxes {
    background-color: white;
    opacity: 0.9;
    color: black;
}

.test {
    background-color: salmon;
    height: 1000px;
}